body {
    background: white;
    margin: 0;
}

#tudo {
    width:70%;
    margin:0 auto;
    padding:30px;
}

input::placeholder { color: black; }

input {
    height: 30px;
    width:400px;
    color:black !important
}

textarea {
    height: 100px;
    width:400px;
    color: black !important;
}